.blog_section {
  background-color: #f5f6f9;
}

.layout_padding {
  padding: 90px 0;
}

.heading_container {
  h2 {
    position: relative;
    font-weight: bold;
  }

  .heading_center {
    align-items: center;
    text-align: center;
  }
}

.blog_section {
  .box {
    margin-top: 55px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    .detail-box {
      padding: 45px 25px 25px 25px;
      background: #ffffff;
      p {
        font-size: 15px;
      }
      a {
        color: #FFA500;
        border: 1px solid;
        border-radius: 10px;
        padding: 5px;
      }
    }

    h5 {
      font-weight: bold;
    }

    .img-box {
      position: relative;

      img {
        width: 100%;
      }
    }

    .blog_date {
      position: absolute;
      left: 25px;
      bottom: 0;
      padding: 10px 25px;
      font-size: 18px;
      background-color: #FFA500;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 3px solid #ffffff;
      color: #ffffff;
      border-radius: 45px;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
    }
  }
}
