<section class="">
  <div class="mt-2">
    <h3>
      Books List
    </h3>
  </div>
</section>
<div class="container">
  <div class="row m-0">
    <ng-container *ngFor="let item of bookList" >
      <div class="card">
        <div class="content">
          <a class="front">
            <img [src]="item.Img" alt="Booklist">
            <div>
              {{item.title}}
            </div>
            <div>
              {{item.dec}}
            </div>
            <div>
              {{item.price}}
            </div>
            <button class="btn btn-success mt-2">Add To Cart</button>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
  <hr>
  <h2>Cat 1</h2>
  <div class="row m-0">
    <ng-container *ngFor="let item of bookList">
      <div class="card">
        <div class="content">
          <a class="front">
            <img [src]="item.Img" alt="Booklist">
            <div>
              {{item.title}}
            </div>
            <div>
              {{item.dec}}
            </div>
            <div>
              {{item.price}}
            </div>
            <button class="btn btn-success mt-2">Add To Cart</button>
          </a>
        </div>
      </div>
    </ng-container>
  </div>

</div>