<section class="about_section layout_padding">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About Our Bookstore
            </h2>
          </div>
          <div>
            <span class="m-5"> Discover a world of captivating stories, insightful knowledge, and endless adventures
              right at your fingertips.
              Dive into our vast collection of books spanning across genres, from timeless classics to contemporary
              bestsellers.
            </span>
            <br>
            <span class="m-5">Whether you're seeking an escape into fantasy realms, delving into historical accounts,
              exploring the depths of science fiction, or enriching your mind with non-fiction treasures, we have
              something for every reader.
              Browse through our meticulously curated selection, explore new releases, or revisit old favorites.</span>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
