.about_section {
  position: relative;
  background-color: #f5f6f9;

  .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .img-box img {
    width: 100%;
  }

  .layout_padding {
    padding: 60px 0;
  }

  .detail-box p {
    margin-top: 15px;
    font-size: 18px;

  }

  .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: white;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #ffa500;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 15px;
    color: #FFA500;
    text-shadow: 2px 0px #FF0000;
    cursor: pointer;
  }

  .detail-box a:hover {
    background-color: transparent;
    color: #44b89d;
  }
}

.heading_container {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;
    font-size: 2.9rem;
  }
}
.layout_padding {
  padding: 60px 0;
}
