<div class="row m-0 layout_padding">
    <div class="col-12 p-0">
        <div class="card mx-2">
            <h3 class="text-center">Currently not add any items</h3>
        </div>
    </div>
</div>
<h3 class="mx-4">My Shopping Cart</h3>
<div class="row m-0">
    <div class="col-md-8 p-0">
        <div class="box d-block">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://www.bookswagon.com/productimages/mainimages/604/9789386538604.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>Book title</p>
                    <p>By:Book title</p>
                    <p class="text-danger">₹1,716 </p>
                    <input type="number" class="qun"/>
                    <span class="mx-4 text-danger">Total Price : ₹1,716</span>
                    <button class="btn btn-danger">Move to wishlist</button>
                    <button class="btn  btn-outline-danger mx-2">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="box d-flex">
            <span>Total Items : 1</span>
            <span>Total Gross : ₹1,716</span>
            <span>Amount Payable : ₹1,716</span>
            <button class="btn btn-danger w-50 mt-3" (click)="PayNow()">Pay</button>
        </div>
    </div>
</div>