.header_section {
  background-color: #FFA500;
  padding: 5px 0;
}

.custom_nav-container {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px #FF0000;
}

.custom_nav-container {
  .navbar-nav {
    margin-left: auto;

    .nav-item {
      .nav-link {
        padding: 10px 25px;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        text-shadow: 2px 2px #FF0000;
      }
    }
  }
}

.search_form {
  display: flex;
  margin: 0;
  position: relative;

  .form-control {
    border-radius: 45px;
    height: 40px;
    min-width: unset;
    border: none;
  }

  button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #000;
    border-radius: 100%;
  }
}
